<%= form_for(@product) do |f| %>
 <%= render "errors"%>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name, autofocus: true, placeholder: "Enter product name" %>
  </p>
  <p>
    <%= f.label :price %><br>
    <%= f.number_field :price, required: true %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end%>
